.cover {
  max-width: calc(100% - 96px);
  width: 100%;
  min-height: 740px;
  margin: 0 auto 92px auto;
  position: relative;
}

@media screen and (max-width: 1152px) {
  .cover {
    min-height: 690px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 896px) {
  .cover {
    min-height: 560px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 664px) {
  .cover {
    min-height: 415px;
  }
}